<div class="container1">
  <div class="border rounded-4" style="padding: 20px">
  <h2 class="text-center mb-5">Login</h2>
  <form class="form1 " #LoginData="ngForm"  (ngSubmit)="SubmitLogin(LoginData.value)" ngNativeValidate>
    <div class="form-outline mb-4">
      <input type="text" name="username" class="form-control" placeholder="Phone number" [maxLength]="46" ngModel required/>
    </div>
    <div class="form-outline mb-4">
      <input type="password" name="password" placeholder="Password" class="form-control" [minLength]="8" [maxLength]="16" ngModel required/>
    </div>
    <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body position-relative">Login</button>
    </div>
  </form>
  </div></div>
